html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


header.head{
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("../Assets/backg1.jpg");
    background-size: 100%;
    background-blend-mode: color;
    color: white;
    display: grid;
    padding-bottom: 10%;
}

div.wrap{
    display: flex;
    justify-content: space-evenly;
}

div.subwrap{
    display: flex;
    justify-content: space-evenly;
}


div.present{
    text-align: left;
    margin-top: 10pt;
    margin-right: 100pt;
    margin-left: 50pt;
}

li{
    list-style:none;
    margin: 10px;
}

a.abc{
    color: white;
    text-decoration: none;
}

img.imagen{
    width: 30%;
}

select{
    font-size: medium;
    text-align: center;
    border-style: none;
    border-radius: 5pt;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}

input{
    font-size: medium;
    height: 20pt;
    border-style: none;
    border-radius: 5pt;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    outline-color: black;
    text-align: center;
}

div.upperblock{
    display: block;
    justify-items: center;
    justify-content: baseline;
}

div.main{
    background-color: rgb(248, 248, 248);
    color: black;
    padding-bottom: 2%;
}



div.form {
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
    color: black;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50pt;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 50pt;
    text-align: center;
    border-radius: 10%;
}

footer.pie {
    background-color: rgb(0,0,0);
    color: white;
    text-align: center;
    font-size: small;
    position: absolute;
    width: 100%;
}

button{
    color: white;
    font-size: medium;
    width: fit-content;
    padding: 10pt;
    border-style: none;
    background-color: rgb(17, 17, 17);
    width: 100%;
    cursor: pointer;
    border-radius: 10pt;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
}

button:hover{
    transition: 0.5s;
    font-weight: bold;
    background-color: rgb(100, 100, 100);
}

select.selec{
    width: 100%;
    text-align: center;
}

input{
    text-align: center;
}
